
        <div class="tkn_main_pic">
            <img src="images/top.jpg" width="100%" height="35%"/>
        </div>

        <div class="tkn_content">


<pre><h2>אודות אתר לצפייה בתקנים של מכון התקנים הישראלי</h2>

באתר לצפייה בתקנים תוכלו למצוא תקנים רשמיים או תקנים שנכללו בחקיקה/תקנות. תקנים אלה עומדים לרשותך ללא תשלום במתכונת 'לקריאה בלבד' ומיועדים לעיון דרך האינטרנט בלבד. לא יעמדו לרשותך אפשרויות הורדה או הדפסה.

התקנים הזמינים באתר זה כוללים תקנים ישראליים אשר מאמצים תקנים שפותחו על ידי ארגוני תקינה בין-לאומיים כדוגמת  <h1>ארגון התקינה הבין-לאומי</h1> (ISO), <h1>הנציבות הבין-לאומית לאלקטרו טכניקה (IEC)</h1> וארגונים אחרים העוסקים בפיתוח תקנים (ארגוני SDO) אשר חתמו על הסכם תנאים ותניות עם  מכון התקנים הישראלי.

כדי לקבל גישה אל התקנים במתכונת PDF, עבור אל הכרטיסייה, תקנים רשמיים/בחקיקה שלעיל. כל משתמש יידרש לאשר את הסכם הרישיון המקוון למשתמשי קצה לפני קבלת גישה אל התקנים.

<div class="tkn_about_border">
<h2>תמיכת דפדפנים ומערכות הפעלה</h2>

תומך ב- EDGE, Google Chrome ו- Mozilla Firefox.
המערכת תומכת במערכת הפעלה חלונות בלבד,גרסת חלונות 7 ומעלה

</div>

 <h2>מידע חשוב על גישה לתקנים הכלולים באתר זה של מכון התקנים הישראלי</h2>

<b>מהו תקן?</b>
תקן הוא מסמך, שמפורטות בו הדרישות החלות על מוצר או שירות כדי שיתאים לייעודו.
ישנם גם תקנים המיועדים להגדרת קווים מנחים, שיטות בדיקה או מונחים.
מכון התקנים הישראלי, והוא בלבד, רשאי לקבוע מפרט , או כללים טכניים של תהליך עבודה, לרבות הגדרות טכניות כתקן ישראלי. תוך שמירה על תהליך עיבודו שיהיה בהתאם לכללי התקנים ולחוק התקנים.
את הכנת התקנים מרכז אגף התקינה במכון התקנים הישראלי מספק את התשתית לתקינה באמצעות מאות ועדות ציבוריות, שחברים בהן אלפי נציגים ומומחים ממגזרים שונים של המשק, ביניהם יצרנים, צרכנים, קבלנים, יבואנים, מוסדות מדע ומחקר, מעבדות בדיקה, נציגי ממשל ועוד.
כתוצאה מכך התקנים נעשים בקונסנזוס רחב והם מבוססים על מיטב הידע והנסיון בתחומי המדע והטכנולוגיה


<b>מי מנסח תקנים?</b>
תקנים רבים נוסחו על ידי ארגונים המפתחים תקנים (ארגוני SDO). ארגונים אלו מספקים תמיכה מנהלתית, טכנית ואחרת למומחים, כדי לאפשר להם לשתף פעולה ולהגיע לפתרון הטכני הטוב ביותר לבעיה נתונה.

<b>האם תקנים מוגנים בזכויות יוצרים?</b>
כן. על פי החוק בישראל והחוק הבין-לאומי, תקן מוגן בזכויות יוצרים, דבר המעניק לבעליו – במקרה כזה ארגון ה-SDO – זכויות שליטה ותמורה מסוימות אשר אין לשלול אותן ללא פיצוי הוגן.

<b>מדוע ארגוני SDO גובים תשלום עבור תקנים?</b>
ארגוני SDO הם בדרך כלל עמותות הפועלות ללא כוונת רווח ואשר מכנסות את המומחים הטכניים הרלוונטיים ובעלי עניין אחרים מענף או תחום טכני מסוים, ומנהלים את הדרישות המנהלתיות והארגוניות המאפשרות לפתח תקנים אפקטיביים. כדי להחזיר לעצמם את הוצאותיהם, ארגוני SDO מסתמכים במידה רבה על הכנסות ממכירת רישיונות לתקנים מוגנים בזכויות יוצרים אשר אותם ארגונים מפתחים.

<b>מהם תקנים רשמיים או תקנים שנכללו בחקיקה/תקנות ?</b>
תקן ישראלי שנקבע על ידי מכון התקנים הישראלי הוא תקן וולונטרי.
עם זאת, שר הכלכלה והתעשייה רשאי, לאחר התייעצות עם נציגי היצרנים והצרכנים, להכריז על תקן מסוים, כולו או חלקו, כ'תקן רשמי' - אם נוכח כי הדבר דרוש להשגת אחת המטרות האלה:
שמירה על בריאות הציבור;
שמירה על בטיחות הציבור;
הגנה על איכות הסביבה;
אספקת מידע, כאשר לא קיים מידע או מנגנון חלופי העשוי להקנות הגנה לצרכן;
הבטחת תאימות או חליפיות של מוצרים;
מניעת נזק כלכלי משמעותי העלול להיגרם לצרכן כתוצאה משימוש במערכות, בחומרים או במוצרים המשמשים לבניה, הגלויים לעין. וכן מניעת נזק כלכלי העלול להיגרם לצרכן כתוצאה משימוש בחומרי בניה שאינם גלויים לעין.

חובת שמירה על תקן רשמי
מוצר שהתקן החל עליו הוכרז רשמי, אין לייצרו, למכרו, לייבאו או להשתמש בו לביצוע עבודה שהכללים הטכניים של התהליך שלה נקבעו כתקן רשמי, אלא אם התאימו המוצר או תהליך העבודה לדרישות התקן הרשמי.
הממונה על התקינה במשרד הכלכלה הוא האחראי על ביקורת והבטחת השמירה על תקן רשמי. בהתאם לכך הוא רשאי בכל עת, לערוך ביקורת ולקיים פיקוח בשווקים כדי לבדוק האם מתמלאות דרישות אלה. בהתאם לחוק התקנים.
בעריכת ביקורת, רשאי כל אדם שהוסמך לכך על ידי הממונה על התקינה, ליטול דוגמה מכל מצרך לשם בדיקה וכן לתפוס ולעכב כל דבר שיש יסוד להניח שנעברה בו עבירה על הוראות חוק התקנים. המהנדסים של הממונה על התקינה במשרד התעשייה, המסחר והתעסוקה מנהלים חקירות בעקבות ביקורות יזומות או תלונות, ואם מתברר כי היתה עבירה על חוק התקנים, ננקטים הליכים משפטיים נגד בעלי עסקים, יבואנים או יצרנים.

<b>האם תקנים רשמיים או תקנים שנכללו בחקיקה/תקנות מאבדים את הגנת זכויות היוצרים?</b>
לא. תקן לא יכול לאבד את הגנת זכויות היוצרים השמורה לו רק מתוקף ההפניה וניתן להפוך תקן לזמין באופן סביר במספר שיטות. לדוגמה, ארגוני SDO מסוימים מעמידים תקנים אלו לרשות המעוניין באמצעות אתרי 'לקריאה בלבד' – כמו אתר זה. בנוסף, רבים מארגוני ה-SDO מוכרים את התקנים במחירים סבירים, בהנחה או מעמידים אותם ללא תשלום לרשות צרכנים, קובעי מדיניות ועסקים קטנים. אין שיטה אחת ויחידה להפוך תקן ל'זמין באופן סביר'.

<b>מדוע מכון התקנים הישראלי מעניק גישת 'לקריאה בלבד' לתקנים הכלולים באתר?</b>
מכון התקנים הישראלי מספק את אפשרות הגישה כדי  להקל על מי שמעוניין לעיין בתקנים אלה שהם תקנים מחייבים מתוקף החוק.
התקנים ניתנים 'לקריאה בלבד' משום שארגוני התקינה השונים שהם בעלי זכויות היוצרים לתקנים אלה, התנו את מתן הגישה ללא תשלום בגישה 'לקריאה בלבד'.

<b>האם אתר זה כולל את כל התקנים הרשמיים או תקנים שנכללו בחקיקה/תקנות ?</b>
לא, הוא מכיל תקנים ישראלים מסוימים אשר מאמצים תקנים שפותחו על ידי ארגונים כמו ISO ו-IEC, כמו גם מספר ארגוני SDO אחרים. קיימים עוד תקנים אשר אינם כלולים באתר זה. חלק מארגוני ה-SDO בחרו שלא לאפשר גישה כלל אל תקנים אלו, כדוגמת מכוני התקנים של אוסטרליה וניו זילנד.

<b>האם ניתן להוריד את התקנים שבאתר זה?</b>
אתר זה הוא אתר מקוון המיועד לקריאה בלבד ומאפשר לציבור בכללותו לקבל גישה מוגבלת לעותקים של חומרים הנכללים מתוקף הפניה בחקיקה ובתקנות.

<b>האם ניתן להדפיס את התקנים שבאתר זה? האם ניתן להעתיק ולהדביק טקסט מהתקנים?</b>
לא, אין אפשרות להדפיס או להעתיק ולהדביק טקסט מתקנים אלה; הם מיועדים לקריאה בלבד.

<b>האם התקנים הכלולים באתר הם הגרסה העדכנית ביותר?</b>
לא תמיד. התקנים הכלולים בו הם הגרסאות אשר נכללו מתוקף הפניה בחוקים או תקנות  אך ייתכן כי אין אלה הגרסאות האחרונות או העדכניות ביותר שבנמצא. אפשר שחל שינוי בתקן ו/או בטכנולוגיה הנדונים או שבוצע עדכון בפרק הזמן שמאז אושרה התקנה. מכון התקנים אינו שולט בפרטי התקנים (וגרסאותיהם) הנזכרים בתקנות או בחוקים.

<b>היכן ניתן לרכוש תקנים אלה או תקנים אחרים?</b>
התקנים זמינים דרך  <a  target="_blank" href="https://portal.sii.org.il/heb/standardization/tekensearchex/.aspx">לחץ כאן</a>.

</pre>


        </div>


