
        <div class="tkn_main_pic">
            <img src="images/top.jpg" width="100%" height="35%"/>
        </div>

        <div class="tkn_content">
             
<div class="tkn_licence_pg">
<pre>
<h2>הסכם רישיון למשתמש קצה</h2>

בעצם הלחיצה על הקישורים להצגת התקנים במתכונת 'לקריאה בלבד' ('החומרים שברישיון'), הנני מסכים כי יחולו עלי התנאים והתניות של הסכם רישיון זה למשתמש קצה, כ'מקבל' של החומרים שברישיון. כמו כן, הנני מסכים לקיים את כל אמצעי האבטחה שהוטלו על ידי מכון התקנים הישראלי ו/או כל גורם אחר המעניק רישיון, בגישה לכל החומרים במהלך הפעלה זו.
שירות זה אינו כרוך בתשלום ומאפשר לך להציג ולקרוא תקנים הנכללים מתוקף הפניה בתקנות או חוקים של מדינת ישראל. התקנים מוצגים לצורך קריאה מקוונת. לא יעמדו לרשותך אפשרויות הורדה לצורך הדפסה. כדי לרכוש את הגרסה הנוכחית של התקנים, כולל אפשרויות הדפסה והורדה, בקר באתר <a  target="_blank" href="https://portal.sii.org.il/heb/standardization/tekensearchex/.aspx">לחץ כאן</a> כדי לחפש את התקן הרצוי, שעשוי להיות זמין לרכישה.

החומרים שברישיון כפופים לזכויות בעלות וזכויות יוצרים על פי חוק זכויות ואמנות בינלאומיות בנושא זכויות יוצרים.
הנני מסכים כי שמורה למכון התקנים הישראלי על פי שיקול דעתו, הזכות לסיים את הגישה שלי לחומרים במקרה שלא אקיים את התנאים הכלולים בהסכם זה או בכל הסכם רישיון אחר המשולב בו. היה ומכון התקנים הישראלי יבטל רישיון זה מכל סיבה שהיא, אחדל מכל שימוש בכל גרסאות החומרים בתוך חמישה (5) ימי עסקים ממועד הקבלה של הודעה על ביטול כאמור.
מכון התקנים הישראלי אינו נוטל על עצמו כל אחריות או התחייבות בנוגע לחומרים ומתנער בזאת מכל אחריות, התחייבות או חבות כלפי המקבלים. בשום מקרה לא תחול על מכון התקנים הישראלי חבות כלפי המקבל או צד שלישי כלשהו בגין שימוש או פעולות שיעשה המקבל בחומרים שברישיון או בהקשר אליהם.
<b><i>אזהרה: התקנים הזמינים באתר זה הם הגרסאות ותאריכי השנה הנזכרים בפועל בתקנות או בחוקים הרלוונטיים. ייתכן שהתקן הנזכר אינו הגרסה האחרונה או העדכנית ביותר שבנמצא. אפשר שחל שינוי בתקן ו/או בטכנולוגיה הנדונים או שבוצע עדכון בפרק הזמן שחלף מאז אושרו התקנה או החוק. מכון התקנים הישראלי אינו קובע אילו תקנים (וגרסאותיהם) נזכרים בתקנות או בחוקי.</i></b>

</pre>
<div class="tkn_actions">
    <a href="#/download" class="tkn_btn">אני מאשר</a>
    <a href="#/about" class="tkn_btn can">בטל</a>
</div>
</div>

        </div>
       

