


        <div class="tkn_main_pic">
            <img src="images/top.jpg" width="100%" height="35%"/>
        </div>

        <div class="tkn_content">

<pre>
<h2>שאלות נפוצות</h2>
<b>מהו תהליך ההרשמה?</b>
עליך לבצע שלוש פעולות כדי להציג את המסמכים לקריאה בלבד:
<ul>
<li>לחץ על שם התקן הרצוי.</li>
<li>מלא טופס הרשמה ואשר כי אתה מקבל את תנאי הסכם הרישיון למשתמש קצה.</li>
<li>לחץ על הלחצן Download file (הורד קובץ), כדי להציג את התקן, במתכונת 'לקריאה בלבד'.</li>
</ul>ניתן לקבל גישה מקוונת לתקנים רק באמצעות חיבור אינטרנט. לא ניתן להדפיס, להעתיק, לשמור או להעתיק/להדביק את הקבצים.
 <div data-checked="true" data-type="checkbox" class="tkn_icon tkn_check"></div> <b>לתשומת לבך, ההרשמה היא להפעלת עיון אחת בלבד. משתמשים החוזרים אל האתר בהפעלה אחרת או ביום אחר יתבקשו למלא מחדש את טופס ההרשמה.</b>
<hr />
<b>תמיכת דפדפנים</b>
תומך ב- EDGE, Google Chrome ו- Mozilla Firefox.

<hr />
<b>היכן ניתן לרכוש תקנים אלה או תקנים אחרים?</b>
רבים מהתקנים זמינים דרך <a target="_blank" href="https://portal.sii.org.il/heb/standardization/tekensearchex/.aspx">לחץ כאן</a>.
</pre>

        </div>


