
        <div class="tkn_main_pic">
            <img src="images/top.jpg" width="100%" height="35%"/>
        </div>

        <div class="tkn_content">
             
<div class="tkn_licence_pg">
<pre>
<h2>כללי</h2>
1.   האמור בתקנון זה מתייחס באופן שווה לבני שני המינים, והשימוש בלשון זכר הוא מטעמי נוחות בלבד.
2.   אתר האינטרנט של מכון התקנים הישראלי (להלן: "האתר" ו-"המכון", לפי העניין) והתכנים הכלולים בו מוצעים לשימושך בכפוף לתנאי השימוש המפורטים להלן, וכן כל תנאי והוראה המתפרסמים באתר.
3.   כל הרוכש מוצרים באתר ו/או כל המתעתד לרכוש מוצרים באתר ו/או כל המבקש לקבל מידע באמצעות האתר ו/או מי שגולש באתר ומשתתף בפעילות המוצעת באמצעות האתר, מצהיר ומתחייב כי קרא תקנוןזה והוא מסכים להוראותיו.
4.   הגלישה באתר מהווה הסכמה לכל התנאים וההודעות המפורטים להלן. באם אינך מסכים לתנאי שימוש אלה במלואם, הנך נדרש לחדול מגלישה ושימוש באתר.
5.   המכון שומר לעצמו את הזכות לשנות תנאי שימוש אלה, לפי שיקול דעתו הבלעדי. האחריות המלאה והבלעדית להכרת התנאים ולשימוש באתר על פי תנאים אלו חלה, בכל עת, על המשתמשים בלבד.

<h2>בעלות וזכויות יוצרים</h2>
6.   האתר וכל המידע הכלול בו, וכן התכנים, לרבות טקסט, איורים, גרפיקה, סימן, צליל, קטעי גרפיקה, יישומי תוכנה, גרפים, ותמונות (להלן: "המידע המוגן"), הינם רכושו הבלעדי של המכון והם מוגנים ע"י הוראות הדין של מדינת ישראל, אמנות בינ"ל וחוקי זכויות יוצרים של מדינות אחרות. 
7.   אלא אם נאמר אחרת, האתר נועד אך ורק לשימוש אישי שלא למטרות רווח או כל שימוש מסחרי. המשתמש רשאי לעשות במידע המוגן "שימוש הוגן" בלבד, הכולל ציטוט סביר מתוך המידע המוגן כאשר המצטט כאמור, חייב לציין את המקור לציטוט, בין אם הוא המכון או כל גורם אחר. אסור למשתמש לעשות במידע המוגן כל סילוף, פגימה או שינוי אחר, או כל פעולה שיש בה משום הפחתת ערך ביחס למידע המוגן, העלולה לפגוע בכבודו או בשמו של המכון ו/או גורם אחר בעל זכויות יוצרים במידע המוגן.
8.   למעט שימוש פרטי ואישי, אין להעתיק, לשנות, להפיץ, לשדר, להציג, לבצע, לשכפל, לפרסם ולאחסן את תוכנו של האתר וכל תוכן אחר שהתקבל באמצעותו, באופן חלקי או מלא, זמני או קבוע. אין להעניק רישיונות עבור, ליצור עבודות הנגזרות מתוך, להעביר או למכור כל מידע, תוכנה, מוצרים או שירותיםשהושגו מהאתר.
9.   תנאי שימוש אלה מעניקים הרשאה בלבד להשתמש באתר על פי התנאים שבאתר. זכויות הבעלות באתרובתכנים המוצגים בו, לרבות כל זכויות הקניין הרוחני, יוותרו בכל עת בבעלותו הבלעדית של המכון.
10. סימני המסחר וכל הסימנים האחרים המצויים באתר הם סימני מסחר קניינים של בעליהם. אין לעשות כל פעולה העלולה לפגוע בזכויות הקניין בסימני המסחר.

<h2>אחריות</h2>
11. המכון ומפעילי האתר לא ישאו באחריות מכל מין וסוג שהוא בקשר למידע המתפרסם באתר, והשימוש במידע הוא על אחריותו של המשתמש בלבד. המכון לא יהיה אחראי לאי התאמה, טעות, אי דיוק, חסר וכיו"ב במידע ובתכנים המתפרסמים באתר, ולא יישא באחריות לכל נזק עקיף או ישיר שיגרם כתוצאה מצפייה ו/או שימוש במידע ו/או בתכנים המתפרסמים באתר, לרבות מידע המתפרסם באתר בדרך של מתן תשובות לשאלות.
12. המידע המתפרסם באתר והמענה הניתן לשאלות באתר אינם מהווים ייעוץ מקצועי ואינם מהווים תחליף לייעוץ מקצועי מלא. אין לסמוך על התוכן המתפרסם באתר (בין בתשובות לשאלות, פרסומים, כתבות, קטעי עיתונות וכד') לצורך קבלת החלטות משפטיות, אישיות, רפואיות, כספיות או אחרות יש לפנות אל איש מקצוע מתאים לקבלת ייעוץ המותאם למצבך הספציפי.
13. המכון איננו מתחייב להשיב לכל שאלה או פניה שתועבר אליו באמצעות האתר, והוא יעשה את מרב המאמצים להשיב לפניות ולשאלות, כאמור, תוך זמן סביר, בנסיבות העניין.
14. המכון לא מתחייב, ואין באפשרותו להתחייב, כי השירות, המידע והתכנים הכלולים באתר, נקיים משגיאות ו/או טעויות או חסינים מפני תקלות, כשלים, פגמים ו/או חדירה בלתי מורשית לאתר. 
15. בשום מקרה, ובמידה המקסימאלית המותרת בחוק, לא יהיה המכון אחראי לכל נזק ישיר או עקיף, כספי או אחר, שייגרם כתוצאה משימוש באתר, מהסתמכות על המידע שמופיע בו או באתרים חיצונייםלו, שאליהם תגיע באמצעות איזה מהשירותים באתר, גם אם המכון קיבל מידע אודות האפשרות להתרחשות נזקים כאמור.
16. המכון עשוי לבצע שיפורים, שינויים והשמטות באתר ובתכנים והפרסומים הנכללים באתר, בכל עת וללא הודעה מוקדמת.

<h2>קישורים באתר וקישורים אל האתר</h2>
17. האתר מכיל בתוכו קישורים אל מקורות מידע ו/או משאבים אחרים המצויים על אתרים אחרים ברשת האינטרנט, וקישורים ממקורות כאמור אל האתר. קישורים אלה עשויים להשתנות מעת לעת בהתאםלשיקול דעתו של המכון. אלא אם נאמר אחרת, קישורים אל האתר וממנו לא יתפרשו כהבעת תמיכהאו מתן חסות במפורש או במשתמע על ידי המכון לגבי אותם מקורות אחרים.
18. אלא אם צוין אחרת באתר במפורש, אין בין המכון לבין אתרי צד ג' יחסים משפטיים או מסחריים, ואין למכון כל שליטה או זכות בחומר הנמצא באתרים אלו או אחריות לתוכנם ופיקוח עליהם. המידע המצויבאתרים המקושרים הינו באחריות הבלעדית של בעלי האתרים המקושרים. לפיכך, לא תוכל להעלותטענות או דרישות כלפי המכון בגין כל אובדן, נזק או הפסד, ישיר או עקיף, אשר נגרם כתוצאה מהסתמכות או שימוש במידע הניתן במסגרת אתרים מקושרים.

<h2>מדיניות שירותים ומחירים</h2>
19. מגוון השירותים, המוצרים, המחירים ותנאי התשלום באתר יכולים להשתנות מעת לעת, על פי שיקולדעתו הבלעדי של המכון וללא פרסום הודעה מוקדמת.

<h2>פרטי רוכש השירותים ואבטחת האתר</h2>
20. בעת ביצוע הזמנה לרכישת שירותים ו/או מוצרים באמצעות האתר יידרש הרוכש להזין במערכת פרטים אישיים,מסחריים, פרטי הזמנה, פרטי כרטיס האשראי וכיו"ב, כמפורט בדף ההזמנה (להלן, במאוחד: "הפרטים"). המכון, מפעילי האתר ומי מטעמם של כל אלו, אינם אחראים לטעות הנעשית על ידי הרוכש בעת הקלדת הפרטים. כמו כן, הנ"ל לא יהיו אחראים במישרין או בעקיפין באחריות כלשהי למקרה שבו פרטי הרכישה לא ייקלטו במערכת ו/או לכל בעיה טכנית ו/או אחרתהמונעת ביצוע פעולות באתר.
21. הקלדת פרטים כוזבים הינה עבירה פלילית. נגד מוסרי פרטים כוזבים יינקטו צעדים משפטיים, לרבות תביעות נזיקין בגין נזקים שעלולים להיגרם לאתר ו/או למכון ו/או למפעיל האתר ו/או למי מטעמם שלכל אלו. המכון, מנהלי האתר וכל מי מטעמם לא יהיו אחראים לתקלה ו/או עיכוב באספקה ו/או אי אספקהשל מוצר או שירות שנרכש באתר, במקרה של הקלדה שגויה של פרטים (לרבות הפרטים האישיים של הרוכש).
22. מחשב עיבוד הנתונים של החברה מנהל רישום ממוחשב של כל הפעולות המתבצעות באתר. רישום זה יהווה ראיה לכאורה לאמור בפעולות אלו. אולם, שעון השרת יהווה ראיה סופית ומכרעת לעניין המועד בו בוצעה פעולה באתר.
23. הפרטים שמסר מבצע פעולה באתר יועברו באמצעות פרוטוקול אבטחה מוצפן (SSL), המקובל בסחר אלקטרוני, למחשב עיבוד הנתונים של המכון. המכון עושה כמיטב יכולתו על מנת לאבטח את האתר ואת המידע, לרבות הפרטים הנמסרים על ידי המשתמש לצורך קבלת שירותים ו/או רכישה של מוצרים. יחד עם זאת, לאור העובדה, כי האתר מקושר לרשת האינטרנט, לא קיימת אפשרות לאבטח את האתרואת מערכות המידע והתקשורת בצורה מלאה מפני חדירות בלתי מורשות על ידי גורמים בלתי מורשים. אשר על כן, כל משתמש ומוסר פרטים באתר, נדרשים להביא עובדה זו בחשבון טרם מסירת הפרטים על ידו. היה ולמרות אמצעי האבטחה תתבצע חדירה בלתי חוקית לאתר ו/או למידע לרבות לפרטים שנמסרו על ידי המשתמש, המכון לא ישא באחריות כלשהי, לרבות בגין שימוש בפרטים שנמסרו על ידי המשתמש, על ידי מי שהשיג את המידע שלא כדין.
24. הפרטים שמסר מבצע פעולה באתר לא יועברו על ידי המכון ומפעילי האתר לגורמים חיצוניים, למעטלחברת כרטיסי האשראי ולספקים, וזאת רק על מנת להשלים את פעולות הרכישה שבוצעה על ידי הרוכש. המכון משאיר לעצמו את הזכות להשתמש בפרטים שימסור הרוכש לצורך ניתוח מידע סטטיסטי ומסירתו לגורמים אחרים, על פי סמכות שבדין, לשם אספקת השירותים, גביית כספים,עריכת חשבונות, ואכיפת זכויות המכון על פי ההסכם. במקרה זה, הנתונים לא יתייחסו אישית למבצע הפעולה ולא יזהו אותו.
25. המכון יהיה רשאי, בהתאם להוראות כל דין, לאסוף, לשמור ולעבד במאגרי המידע של המכון את הפרטים של המשתמשים באתר ואת דפוסי השימוש שלהם באתר ולצרף את המשתמשים לרשימותתפוצה ולמאגרי מידע שהוא מחזיק. המכון יהיה רשאי לשלוח פרסומים, עדכונים, מידע והודעות דוא"ל שונות למשתמשים הרשומים במאגרי המידע, כאמור, אלא אם כן המשתמש ביקש שלא להיכלל במאגרי המידע וברשימות התפוצה באופן מפורש ובכתב. 

<h2>רכישה של שירותים ו/או מוצרים באתר</h2>
26. כל המחירים באתר כוללים מע"מ, אלא אם כן צוין במפורש אחרת. התמורה בגין רכישה של מוצרים ו/או שירותים באתר תגבה באמצעות כרטיס אשראי אשר פרטיו הוקלדו בהזמנה, לפני או בסמוך לשיגור המוצרים לכתובת אשר צוינה בהזמנה. אם על פי מדיניות המכון יתאפשר ביצוע תשלום של התמורה במספר תשלומים, יתבצע חיוב בהתאם (בכפוף לאישור חברת  האשראי).
27. סך התמורה בו יחויב הרוכש מופיע ב"סל הקניות". סכום זה כולל את כל הפריטים המופיעים בסל הקניות, לרבות הוצאות משלוח, אם ישנן, אלא אם צוין אחרת.
28. ביטול של הזמנת רכישה של תקנים ו/או מפרטים באתר יתאפשר רק אם המוצר הוחזר למכון בתוך 14 ימים מיום קבלתו, ובאריזתו המקורית. הואיל והמוצרים הנמכרים באתר ניתנים לשכפול ו/או להעתקה, לא תתאפשר החזרה של מוצר שאיננו נמצא באריזתו המקורית לרבות מעטפת הדואר בה נשלח המוצר. על אף האמור, ביטול של הדרכה שהוזמנה באתר, יתאפשר עד חמישה ימים לפני המועד המתוכנן של ההדרכה ובלבד שנמסרה למרכז ההדרכה הודעה בכתב על הביטול(על המבטל לוודא קבלת הודעתו בפועל). ביטול הזמנת רכישה יחויב בדמי ביטול בשיעור של5% אחוזים מתמורת הרכישה או בסך של 100 ₪, לפי הנמוך מביניהם.ביטול הזמנה, שלא בהתאם לאמור, לא יכובד והרוכש יחויב במלוא עלות הרכישה.

<h2>דין ומקום שיפוט</h2>
29. על השימוש באתר יחולו דיני מדינת ישראל בלבד.
30. לבתי המשפט בעיר תל-אביב תהא הסמכות הייחודית והבלעדית לדון בכל מחלוקת או עניין הנובע מתקנוןזה ו/או מהשימוש באתר ובמידע והתכנים המצויים בו.
</pre>

</div>

        </div>
       

